<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>World Vaping Day on E-Cig TV</title>
  <meta name="description" content="World Vaping Day on eCigTV">
  <meta name="author" content="slickplaid">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <html itemscope itemtype="http://schema.org/Event">
  <meta itemprop="name" content="eCigTV">
  <meta itemprop="description" content="World Vaping Day on eCigTV">

  <!-- CSS concatenated and minified via ant build script--
  <link rel="stylesheet" href="css/style.css">
  !-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <style>
    body { color: #eee; background: #181818; font-size: 14px; }
    #container { margin: 100px auto 10px auto; text-align: center; }
    #container div { margin-top: 20px; }
  </style>
</head>

<body>

  <div id="container">
    <h1>World Vaping Day on eCigTV</h1>
    <div>
      <object type="application/x-shockwave-flash" height="450" width="650" id="live_embed_player_flash" data="http://www.justin.tv/widgets/live_embed_player.swf?channel=ecigtv" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.justin.tv&channel=ecigtv&auto_play=true&start_volume=25" /></object><iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.justin.tv/chat/embed?channel=ecigtv&amp;default_chat=jtv&amp;popout_chat=true#r=-rid-&amp;s=em" height="450" width="300"></iframe>
    </div>
    <div><g:plusone size="tall" annotation="inline" width="650"></g:plusone></div>
    <div><!--
      <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.justin.tv/chat/embed?channel=ecigtv&amp;default_chat=jtv&amp;popout_chat=true#r=-rid-&amp;s=em" height="500" width="650"></iframe>
      <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="http://chatroll.com/embed/chat/wtoj?id=VP0XoXkmRFG&platform=html&w=$0"></iframe>-->
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via ant build script--
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  !-- end scripts-->

  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UA-30124821-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
